<div class="row kk">
<div class="col md 6">
    <div class="container-fluid hh">
    <div class="form-group" id="form">
        <label for="name" >User Name:</label>
        <input type="text"  class="form-control" id="username" placeholder="Enter Username here" [(ngModel)]="newUser.name" name="userName" #userName="ngModel" required>
      </div> 
      <button (click)="addNewUser(newUser.name)" class="btn">Search</button>
      </div>
<!-- <app-user-form (addUser)="addNewUser($event)"></app-user-form> -->
</div>
<div class="col md 6">
<img src="{{user.profile_image}}" height="250">
<p>
  Username:{{user.name}} 
</p>
<p>Respositories:{{user.repos}}</p>
<p>Followers:{{user.followers}}</p>
<p>Following:{{user.following}}</p>
<p>Created at:{{user.creationDate}}</p>
<button class="btn btn-primary" (click)=goToUrl(user.id)>View Details</button>

<a href="{{user.repo}}" class="btn btn-black btn-lg" target="_blank">Visit user</a>
</div>
</div>